
 .border11{
    height:250px;
}
.border11-left{
	width:250px;
	float: left;
}
.border11-right{
	width:510px;
	float: right;
	padding-left:18px;} 

#wrapper{
	position: relative;
	left:0;
	width: 1080px;
	text-align: left;
	margin:0px auto;
	
}
#header{
	width:1080px;
	height: 200px;
}
#logo{
	width: 300px;
	height:180px ;
	float:left;
	
}
#slogan{
	width:600px;
	height:200px;
	
	float:left;
}



#ab{
	height:140px;
}
#abc{
	width:180px;
	height:100px;
	padding-top:25px;
	float:right;
}




#container{
    padding-top:30px;
    width: 1080px;
    margin: 0px auto;
    height:1150px;
}
.container-left{
	width:780px;
	float:left;
	height:1150px;

}
.container-right{
	width:260px;
	float:right;
	/*background-color: #333;*/
	height:1150px;
	padding-left:40px;
}
 .box-common {
            margin-bottom: 15px;
 }

.heading {
            border-bottom: 2px solid #22a9fe;
            margin-bottom: -4px;
            position: relative;
}
.heading .box-title {
    background: #22a9fe;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    margin: 0;
    padding: 6px 20px 3px 50px;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Verdana, Geneva, sans-serif;
}
.border-row{
    width:689px;
    height:78px;
    padding:32px 0px 32px 0px;
    margin:0px auto;
    
}

.block2{
   /* padding-top:30px;*/
    width:780px;
    height:350px;
   
}
.border-tk{
    width:778px;
    height:140px;
    border:1px solid#22a9fe;
}
.border1{
    width:778px;
    height:300px;
}

th{
    width:778px;
    height:20px;
}
td{
    width:778px;
    height:225px;
}
.border-td{
    width:330px;
    height:225px;
    padding:0px 5px 0px 5px;
}
.fff{
    width:330px;
    height:40px;
}
.ggg{
    width:330px;
    height:185px;
}
.hhh{
    width:110px;
    height:165px;
    float:left;
}
.jjj{
    width:190px;
    float:right;
    height:165px;
}
.pagination{
	height:50px;
	width:350px;
	float:right;;

}
.pagination ul{
	list-style-type: none;
}
.pagination li{
	float:left;
	border:1px solid #333;
	padding:5px 10px 5px 10px;
	margin-right: 10px;

}
.pagination a{
	text-decoration: none;
	color:#666;
}
.pagination a:hover{
	color: #22a9fe;
	text-decoration: underline;
}
.row-col
{
	width: 219.66px;
	height:77px;

	float: left;
}


/*THUỘC TÍNH CONTAINER-RIGHT*/
