
body{
	font-family: Arial, sans-serif;
	font-weight: 300;
	
	margin: 0;
	position: 0;
	/*background-color: antiquewhite;*/
}

#wrapper{
	position: relative;
	left:0;
	width: 1080px;
	text-align: left;
	margin:0px auto;
	height:auto;
	
}
#header{
	width:1080px;
	height: 200px;
}
#logo{
	width: 300px;
	height:180px ;
	float:left;
	
}
#slogan{
	width:600px;
	height:200px;
	
	float:left;
}
#search{
	height:35px;
	margin-top:25px;
	

}
#search-box{
/*	width:250px;*/
	height:30px;
	float:right;
	padding-right: 40px;
}
.search-box-input{
	float:left;
	/*height:19px;*/
	width:196px;

}
.icon-search{
	float:right;
	width:50px;
	/*height:25px;*/

}



#ab{
	height:140px;
}
#abc{
	width:180px;
	height:100px;
	padding-top:25px;
	float:right;
}

/*Menu*/
#Menu {
	height:50px;
	width:1080px;
	margin: 0px auto;
	background-color:#777777;
  
}


#Menu ul li{
	color: #f1f1f1;
	display: inline-table;
	line-height: 35px;
	padding:5px  30px  0px 30px;
}

#Menu ul li a{
	color: #f1f1f1;
	text-decoration: none;
	display: block;
	padding:5px  40px  5px 40px;
}

#Menu ul li a:hover{
	background: #f1f1f1;
	color: #333;
}

/*Slider*/
@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
		left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

  }

}

#slider {
	overflow: hidden;
	width: 1080px;
	margin: 0px auto;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: center;
	font-size: 0;
	animation: 10s slider infinite; 

}



#container-content{
    padding-top:30px;
    width: 1080px;
    margin: 0px auto;
   /* height:1000px;*/
}
.location{
    height:270px;

}
.location2{
	height:730px;
	padding-top: 40px;
}
.container-left{
	width:780px;
	float:left;
	/*height:750px;*/

}
.container-right{
	width:260px;
	float:right;
	/*background-color: #333;*/
	/*height:750px;*/
	padding-left:40px;
}
 .box-common {
            margin-bottom: 15px;
 }

.heading {
            border-bottom: 2px solid #22a9fe;
            margin-bottom: -4px;
            position: relative;
}
.heading .box-title {
    background: #22a9fe;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    margin: 0;
    padding: 6px 20px 3px 50px;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Verdana, Geneva, sans-serif;
}
.block1{
	height:200px;
	padding-bottom: 10px;

}
.border{
	width:778px;
	height:200px;
	border: #6CF 1px solid;
	
}
.border-col{
	width:256px;
	float:left;
	height:200px;
}

.heading::before {
	background: transparent url(../images/sprite.png) no-repeat -35px 0;
	content: '';
	display: inline-block;
	height: 27px;
	left: 8px;
	position: absolute;
	top: 0px;
	width: 25px;
	z-index: 5;
}

.heading .box-title::after {
	border-bottom: 33px solid #22a9fe;
	border-right: 20px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	position: absolute;
	right: -20px;
	top: 0;
	width: 0;
}
.panel-news{
	width:220px;
	height:220px;
	
}
.panel-news-heading{
	height:30px;
	width:220px;

}
.panel-news-title{
	height:20px;
	margin:0px auto;
}
.panel-news-body{
	width:220px;
	height:180px;

}
.img-responsive-2{
	width:220px;
	height:180px;
}
.container {
	width: 1080px;
	height: 200px;
	margin:0px auto;
	background: #fff;
}

#carousel-inner {
	width: 1080px;
	margin:0px auto;
	height: 180px;
	padding:10px 0px 10px 0px;
	background: #fff
}

.ppp {
	width: 980px;
	margin:0px auto;
}

.kkk {
	width: 196px;
	float:left;
}
.kkk img{
	margin:0px auto;
	display: block;
  
}

#Footer{
	text-align: center;
	font-size: 85%;
	border-top: 1px solid #e6e6e6;
	color:black;
	padding: 0.25cm 1cm;
	height:40px;
}