
body{
	font-family: Arial, sans-serif;
	font-weight: 300;
	
	margin: 0;
	position: 0;
	background-color: antiquewhite;
}

#wrapper{
	position: relative;
	left:0;
	width: 1080px;
	text-align: left;
	margin:0px auto;
	
}
#header{
	width:1080px;
	height: 250px;
}
#logo{
	width: 300px;
	height:210px ;
	float:left;
	
}
#slogan{
	width:600px;
	height:200px;
	float:left;
}
#search{
	height:50px;
	margin-top:25px;

}
input{
	float:right;
	margin-right: 25px;
}


#ab{
	height:175px;
}
#abc{
	width:180px;
	height:100px;
	padding-top:25px;
	float:right;
}

/*Menu*/
#Menu {
	height:50px;
	width:1080px;
	margin: 0px auto;
	background-color:#777777;
  
}


#Menu ul li{
	color: #f1f1f1;
	display: inline-table;
	width: auto;
	line-height: 70px;
	padding:5px 20px;
}

#Menu ul li a{
	color: #f1f1f1;
	text-decoration: none;
	display: block;
}

#Menu ul li a:hover{
	background: #f1f1f1;
	color: #333;
}

/*Slider*/
@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
		left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

  }

}

#slider {
	overflow: hidden;
	width: 1080px;
	margin: 0px auto;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: center;
	font-size: 0;
	animation: 10s slider infinite; 

}


#Footer{
	text-align: center;
	font-size: 85%;
	border-top: 1px solid #e6e6e6;
	color: #838383;
	padding: 0.25cm 1cm;
}